@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap');

/* =======common style======= */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

/* ========Navigation style========== */
nav {
    display: flex;
    justify-content: space-between;
    height: 52px;
    align-items: center;
    max-width: 90%;
    Padding-top: 70px;
    margin: 0 auto;
}

.navigation ul {
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    
}

.navigation ul li {
    margin: 20px;
    
    list-style: none;
    text-transform: uppercase;
   
}

.navigation ul li a {
    text-decoration: none;
    color: #3A3A3A;
    font-weight: bold;

}

/* ==========header Area=========== */

.header {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 90%;
    margin: 0 auto;
    margin: 0 auto;
}
.animation {
    position: relative;
    white-space: nowrap;
    color: transparent;
    font-size:40px;
}
.animation::before {
    content: 'Influencer';
    position: absolute;
    top: 0;
    left: 0;
    color: #E02C6D;
    animation: typing 4s linear infinite;
    font-size: 60px;;
}

@keyframes typing {
    0%{
        content: "I|";
    }
    6%{
        content: 'In|';
    }
    12%{
        content: 'Inf|';
    }
    18%{
        content: "Infl|";
    }
    24% {
        content: "Influ|";
    }
    30%{
        content: 'Influe|';
    }
    36%{
        content: "Influen|";
    }
    42%{
        content: "Influenc|";
    }
    48%{
        content: "Influence|";
    }
    49%{
        content: 'Influencer|';
    }
    50%,
    90%{
        content: 'Influencer|';

    }
    91%{
        content: "Influence|";
    }
    92%{
        content: "Influenc|";
    }
    93%{
        content: "Influen|";
    }
    94%{
        content : "Influe|";

    }
    95%{
        content: "Influ|";
    }
    96%{
        content: "Infl|";
    }
    97%{
        content: "Inf|";
    }
    98%{
        content: "In|";
    }
    99%{
        content: "I|";
    }
    100%{
        content: "|";
    }
}

 .right-header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.right-header img {
width: 440px;
height: 414px;

margin-top: 60px;
margin-left: 40px;

}

.left-header h1 {
    font-weight: 700;
    color: #3A3A3A;
    /* padding: 20px; */
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 52px;
}
.left-header p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3a3a3a;
    margin-bottom: 16px;
}

#primery-btn {
background-color: #E02C6D;    
color: white;
font-weight: bold;
Width :196px;
Height : 44px;
Border-radius: 41px;
Padding :12px, 24px, 10px, 24px;
margin-top: 20px;
cursor: pointer;
font-size: 15px;

}
#primery-btn span {
    margin-left: 15px;
}

/* ==========Products area============= */

.photo img {
    width: 300px;
    height: 256px;
    border-radius: 5px;
}

.product-title {
    margin-top: 16px;
    color: #18191F;
    font-size: 28px;
    font-weight: 500;
}

.price-text {
    margin: 15px 0;
    font-size: 24px;
    font-family: Inter;;
}
.fa-star {
    color: orange;
    font-size: 10px;
    
}

.rating span {
    font-size: 13px;
    color: black;
}

.description p{
font-size: 14px;
font-weight: bold;
line-height: 20px;
font-family: inter;
color: #787885;
}
.products-title {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin-bottom: 60px;
}

.product {
    width: 329px;
    height: 476px;
    box-shadow: rgba(160, 160, 165, 0.2) 0px 8px 24px;
    padding: 15px;
    border-radius: 10px;
    
}
.description {
    margin-top: 20px;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-content: space-around;
}
.main-products {
    margin: 60px auto;
    max-width: 80%;
    

}
.see-more {
    margin-top: 30px;
    padding: 10px;
    text-align: right;
}


.see-more a{
    color: #E02C6D;
    width: 50px;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
  
}

/* ==========video & subscribe============== */


/* ===============Footer Area================== */

Footer {
    height: 230px;
    background-color: rgb(2, 2, 32);
    Margin-top: 50px;

}

.footer-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-area h2 {
    color: white;
    padding-top: 50px;
    font-weight: bold;
    font-size: 25px;
}
.footer-area p{
    color: white;
    padding-top: 10px;
    font-size: 14px;
    
    
}
.social {
    color: rgb(184, 175, 175);
    font-size: 30px;
    
}
.social .fab {
    margin-right: 15px;
}

/* ========= Responsive style ===============*/
/* ============================================== */

@media (max-width:576px) {
    body{
        width: 100%;
    }
    .header {
        grid-template-columns: 1fr;
        order: 2;
        width: 100%;
    }

    .right-header img{
        order: 1;
        width: 100%;
        margin: 0 auto;
    }
    .photo-camera {
        width: 100%;
        margin: 0 auto;
    }
    .media img{
        width: 100%;

    }
    .newsletter{
        width: 100%;
        margin: 0 auto;
    }
    .right-header p{
        width: 100%;
    }
    .container {
        grid-template-columns: 1fr;
        margin: 0,auto;
    }

    .alamin{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .media input{
        width: 100%;
    }
    
    
    .newsletter {
        width: 100%;
    }

    
    
}